/* Footer.css */
.footer {
  background-color: #fdfd96; /* Màu nền vàng cho footer */
  padding: 20px;
  display: flex;
  justify-content: center; /* Căn giữa nội dung */
}

.footer-content {
  display: flex; /* Sử dụng Flexbox để chia cột */
  justify-content: space-between; /* Căn đều các phần tử */
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  width: 80%; /* Giới hạn chiều rộng của footer */
}

.footer-logo {
  flex: 1; /* Chia đều không gian, logo sẽ chiếm 1/3 diện tích */
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: 'Pacifico', cursive; /* Font chữ viết tay */
  font-size: 100px;
  color: #333;
  margin: 0;
}
.footer-title:hover {
  color: #cfe6ee; /* Thay đổi màu khi rê chuột vào */
  transform: scale(1.1); /* Phóng to chữ khi rê chuột vào */
}
.footer-details {
  flex: 2; /* Chiếm 2/3 diện tích còn lại */
  display: flex;
  flex-direction: column; /* Chia thành hàng (column) */
  align-items: flex-end; /* Căn phải */
}

.footer-text {
  font-size: 14px;
  color: #333;
  font-family: 'Pacifico', cursive;
  margin-bottom: 10px;
}
.footer-text:hover {
  color: #cfe6ee; /* Thay đổi màu khi rê chuột vào */
  transform: scale(1.1); /* Phóng to chữ khi rê chuột vào */
}
.footer-qr-img {
  width: 150px; /* Kích thước QR Code */
  height: 150px;
  border-radius: 10px;
}
.footer-qr-img:hover {
  color: #cfe6ee; /* Thay đổi màu khi rê chuột vào */
  transform: scale(1.1); /* Phóng to chữ khi rê chuột vào */
}

